AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
php_flag register_globals on
php_value upload_max_filesize 10M
RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.php|images|robots\.txt|public)
RewriteCond %{REQUEST_URI} !\.(css│js│jpg│gif)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d	
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
